// SITE

$site-width:  960px;
$site-gutter: 7.5%;

// BREAKPOINTS
$breakpoint-1: 400px;
$breakpoint-2: 520px;
$breakpoint-3: 640px;
$breakpoint-4: 760px;
$breakpoint-5: 880px;
$breakpoint-6: 1280px;
$breakpoint-7: 1600px;


// COLORS
$brand-black: 			#000;
$brand-white: 			#fff;

$brand-offblack: 		#444;
$brand-darkgrey: 		#323232;
$brand-medgrey: 		#bbb;
$brand-offwhite: 		#eee;

$brand-red: 			#E80B66;
$brand-green: 			#1FCC7A;
$brand-blue: 			#4B19D8;