body{
	overflow:hidden;
	text-align:center;
	padding:0;
}

#wrapperOut{
	width:1080px;
	height:1920px;
	display:flex;
	flex-direction:column;
	text-align:center;
	background-color:rgba(0,0,0,1);
	
}

#guide{
	width:1080px;
	height:1920px;
	background-image:url('imgs/guide.png');
	position:absolute;
	top:0;
	left:0;
}

#wrapperIn{
	flex:0 0 auto;
	border:red 1px solid;
	width:90%;
	margin:auto;
	
}

#timeBlock{
	display:flex;
	flex-direction:row;
	width:100%;
	color:rgba(255,255,255,1);
}
#timeHolder{
	flex:1 0 auto;
	margin:auto;
	font-size:12em;
}

#weatherBlock{
	height:200px;
}



/*body{
	width:100%;
	background-color: rgba(0,0,0,1);
	overflow:hidden;
	color:rgba(255,255,255.9);
}

#wrapper{
	opacity: .5;
}

#calendar{
	max-width:1200px;
	margin:auto;
	font-family:roboto;
	color:rgba(255,255,255.9);
}

#Brooklyn_z161{
	color:white;
	margin:auto;
	width:100%;
	text-align:center;
	margin-top:1em;
	font-family:sans-serif;
	font-size:7em;
	margin-bottom:.2em;
} */