**/.DS_Store
**/node_modules/**/*

**/*yarn-error.log
**/*npm-debug.log
**/*nohup.out

**/.log

.env

.sublime-project
.sublime-project.sublime-workspace

dist/**/*
data/**/*

visual/screen_recordings/**/*
visual/working/**/*

!**/*/.gitkeep