/*body{overflow:hidden;}
#wrapperOut{
	-ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
   
    position:absolute;
    top:-500px;
    left:360px;
}
*/
body{
	text-align:center;
	position:relative;
	width:1920px;
	height:1080px;

	margin:auto;

}


#wrapperOut{
	font-family:roboto;
	text-align:center;
	padding-bottom:100px;
	width:1080px;
	height:1920px;
	margin:auto;
	background-size:100%;
	/*background-color:#0F474C;*/
	background-color: black;
	font-size: 150%;
	background-repeat: no-repeat;
	background-position: 0% 100%;
}

#guide{
	height:1920px;
	background-image:url('../imgs/guide.png');
	width:1080px;
	margin:auto;
	opacity:0;
	position:absolute;
}

#wrapperIn{
	border:red 0px solid;
	width:88%;
	margin:auto;
	
}







/* TIME */
#timeBlock{
	width:100%;
	padding-top:160px;
}
#timeHolder{
	margin:auto;
	font-size:12.4em;
	font-weight:200;
}


/* WEATHER */
#weatherBlock{
	height:200px;
	margin-top:20px;
	margin-bottom:50px;
	width:100%;
	position:relative;
}

#dayWrap{
	display:inline-block;
	position:absolute;
	left:0;
	top:10px;
	text-align:left;
}

#dayHolder{
	font-size:4.6em;
	font-weight:300;
	margin-top:45px;

}

#monthHolder{
	font-size:2.5em;
	font-weight:100;
	margin-top:8px;
}

#weatherWrap{
	width:180px;
	display:inline-block;
	margin-left:auto;
	margin-right:auto;

}

#weatherIconHolder{
	height:170px;
	margin-top:-10px;
	width:100%;
	font-size: 170px;
}

#weatherCopyHolder{
	font-weight:300;
	font-size:1.2em;
	line-height: 1.2em;
	margin-top:26px;
}

.wind{
	font-weight:200;
	font-size:.98em;
	margin-top:8px;
	opacity:1;

}

#tempWrap{
	display:inline-block;
	position:absolute;
	right:0;
	top:35px;
	text-align:left;
	margin-left:60px;
}

#tempWrap1{
	display:block;
	text-align:right;	
}
#tempWrap2{
	display:block;
	margin-left:6px;
	text-align:right;
	width:360px;
}
#tempCurrent{
	display:inline-block;
	font-size:7.4em;
	font-weight:300;
	margin-top:-4px;
	text-align:left;
	width:.8em;
}
#tempHiLoWrap{
	display:inline-block;
	text-align: left;
	margin-left:100px;
}
.tempLabel{
	vertical-align:baseline;
	display:inline-block;
	width:1.7em;
	font-size:1.6em;
	font-weight:200;
	opacity:.8;
}
.tempHolder{
	vertical-align:baseline;
	display:inline-block;
	font-weight:300;
	font-size:2.5em;
}
#tempHiWrap{
	margin-top:8px;
	margin-bottom:17px;
}
.forecastModule{
	width:15%;
	margin-left:3%;
	margin-right:0%;
	display:inline-block;
	text-align: center;
}
.forecastModule:last-child{
	margin-right:-3%;
}
.forecastLabel{
	font-size:1.1em;
	font-weight:300;
	margin-bottom:7px;
	margin-top:22px;
	opacity:.8;
}

.forecastHolder{
	font-size:1.5em;
	font-weight:200;
	margin-left:3px;

}
.forecastIconHolder{
	font-size:4em;
	font-weight:100;
	margin-bottom:.2em;
	margin-top:-.2em;

}



/* Calendar Section */

.calendarBlock{
	text-align: left;
}

#calendarBlock1{
	min-height:480px;
	margin-top:90px;
}
#calendarBlock2{
	height:480px;
	margin-top:30px;
}

.calendarRootLabel{
	font-weight: 100;
	font-size:1.6em;
	opacity:.6;
	width:100%;
	padding-top:4px;
	padding-bottom:1px;
	text-align: left;
}

.todayBlock{
	width:480px;
	min-height:440px;
	display:inline-block;
	overflow:hidden;
}

.dayLabel{
	width:100%;
	text-align:left;
	font-size:.9em;
	letter-spacing: 0.02em;
	margin-bottom:6px;
	margin-top:10px;
}

.todayPopulateMeWrapper{
	width:100%;
	min-height:400px;
	max-height:496px;
	overflow:hidden;
	position:relative;
}

.tomoBlock{
	width:226px;
	min-height:440px;
	display:inline-block;
	overflow:hidden;
}

.tomoPopulateMeWrapper{
	width:100%;
	position:relative;
}

#allDayWrapperMain{
	width:100%;
	height:70px;
	display:table;
	padding-left:20px;

}
#allDayWrapperTomo{
	width:216px;
	height:70px;
	display:table;
	padding-left:10px;
}
.allDayRow{
	display:table-row;

}

.allDayCell{
	display:table-cell;
	height:70px;
	vertical-align: middle;
}	
.allDayItem{
	padding-top:.1em;
	padding-bottom:.1em;
	font-size:1.3em;
	font-weight:300;
	letter-spacing: .014em;
	overflow-x:hidden;
	white-space: nowrap;
	height:1.2em;
	text-overflow: ellipsis;
	width:450px;	
}

.allDayItemTomo{
	padding-top:.1em;
	padding-bottom:.1em;
	font-size:1.3em;
	font-weight:300;
	letter-spacing: .014em;
	overflow-x:hidden;
	white-space: nowrap;
	height:1.2em;
	text-overflow: ellipsis;
	width:206px;	
}

.todayTimeScale{
	width:480px;
	height:22px;
	background-image: url("../imgs/timescale.png");
	background-color:rgba(0,0,0,.05);
	background-repeat:no-repeat;
	background-position: 0% 100%;
	display:block;
	padding-top:4px;
	margin-top:0px;
	opacity:.9;
}
.todayEventContainer{
	margin-top:4px;
}
.todayCalEventModule{
	width:100%;
	height:74px;
	overflow:hidden;
	position:relative;
	margin-bottom:4px;
}
.todayCalEventTypeWrap{
	width:94%;
	padding-left:4%;
	padding-right:2%;
	height:90px;
	position:absolute;
	top:0;
	z-index:101;
}
.todayCalEventGraphicWrap{
	width:100%;
	height:90px;
	position:absolute;
	top:0;
	z-index:100;
}
.todayCalEventTime{
	font-weight:300;
	font-size:.95em;
	opacity:.9;
	margin-top:.8em;
	letter-spacing: .04em;
}
.todayCalEventTitle{
	font-weight:300;
	font-size:1.3em;
	margin-top:.04em;
	overflow-x:hidden;
	white-space: nowrap;
	height:1.2em;
	text-overflow: ellipsis;
}
.todayCalEventLocation{
	font-weight:300;
	font-size:.94em;
	margin-top:-.1em;
	overflow-x:hidden;
	white-space: nowrap;
	height:1.2em;
	text-overflow: ellipsis;
	opacity:.7;
}

.todayGraphicSpacer{
	width:0px;
	height:74px;
	display:inline-block;
	margin-left:-2px;
	position:relative;
}

.todayGraphicChunk{
	position:relative;
	width:8px;
	margin-right:0px;
	margin-left:2px;
	height:74px;
	display:inline-block;
}

.spaces-1200am{width:0px;}
.spaces-1230am{width:10px;}
.spaces-100am{width:20px;}
.spaces-130am{width:30px;}
.spaces-200am{width:40px;}
.spaces-230am{width:50px;}
.spaces-300am{width:60px;}
.spaces-330am{width:70px;}
.spaces-400am{width:80px;}
.spaces-430am{width:90px;}
.spaces-500am{width:100px;}
.spaces-530am{width:110px;}
.spaces-600am{width:120px;}
.spaces-630am{width:130px;}
.spaces-700am{width:140px;}
.spaces-730am{width:150px;}
.spaces-800am{width:160px;}
.spaces-830am{width:170px;}
.spaces-900am{width:180px;}
.spaces-930am{width:190px;}
.spaces-1000am{width:200px;}
.spaces-1030am{width:210px;}
.spaces-1100am{width:220px;}
.spaces-1130am{width:230px;}
.spaces-1200pm{width:240px;}
.spaces-1230pm{width:250px;}
.spaces-100pm{width:260px;}
.spaces-130pm{width:270px;}
.spaces-200pm{width:280px;}
.spaces-230pm{width:290px;}
.spaces-300pm{width:300px;}
.spaces-330pm{width:310px;}
.spaces-400pm{width:320px;}
.spaces-430pm{width:330px;}
.spaces-500pm{width:340px;}
.spaces-530pm{width:350px;}
.spaces-600pm{width:360px;}
.spaces-630pm{width:370px;}
.spaces-700pm{width:380px;}
.spaces-730pm{width:390px;}
.spaces-800pm{width:400px;}
.spaces-830pm{width:410px;}
.spaces-900pm{width:420px;}
.spaces-930pm{width:430px;}
.spaces-1000pm{width:440px;}
.spaces-1030pm{width:450px;}
.spaces-1100pm{width:460px;}
.spaces-1130pm{width:470px;}


.tomoEventContainer{
	width: 100%;
	overflow: hidden;
	position: relative;
	margin-bottom: 4px;
	margin-top: 30px;
}

.tomoCalEventModule{
	width:94%;
	margin-left:0px;
	padding-left:3%;
	padding-right:1%;
	height:74px;
	overflow:hidden;
	position:relative;
	margin-bottom:4px;
	display:block;
}









#tomoBlock-cal1{
	opacity:.8;
}

#thenextBlock-cal1{
	opacity:.6;
}












/* weather icons*/

#weather {
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
}

i {
  font-family: weather;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }




#tickerWrap{
	width:100%;
	text-align: right;
	margin-top:2em;
	font-size:.95em;
}

#tickerWrap span {
	font-weight:100;
	opacity:.8;
}

#ticker{
	opacity: 1;
}





#calendar {

opacity:0;

}

#calendar2{
	/*opacity:0;*/
}




.textColor{color:rgba(255,255,255,1);}
.textColorInverted{color:rgba(0,0,0,.9);}
.backgroundColor10{background-color:rgba(255,255,255,0.1);}
.backgroundColor15{background-color:rgba(255,255,255,.15);}
.backgroundColor20{background-color:rgba(255,255,255,0.20);}
.backgroundColor30{background-color:rgba(255,255,255,0.30);}
.backgroundColor40{background-color:rgba(255,255,255,0.40);}
.backgroundColor50{background-color:rgba(255,255,255,0.50);}
.backgroundColor60{background-color:rgba(255,255,255,0.60);}
.backgroundColor70{background-color:rgba(255,255,255,0.70);}
.backgroundColor80{background-color:rgba(255,255,255,0.80);}
.backgroundColor90{background-color:rgba(255,255,255,0.90);}

.backgroundBlack10{background-color:rgba(255,255,255,0.1);}
.backgroundBlack15{background-color:rgba(255,255,255,.15);}
.backgroundBlack20{background-color:rgba(255,255,255,.2);}
.backgroundBlack25{background-color:rgba(255,255,255,0.25);}
.backgroundBlack30{background-color:rgba(255,255,255,0.3);}
.backgroundBlack35{background-color:rgba(255,255,255,0.35);}
.backgroundBlack40{background-color:rgba(255,255,255,0.4);}
.backgroundBlack45{background-color:rgba(255,255,255,0.45);}
.backgroundBlack50{background-color:rgba(255,255,255,0.5);}
.backgroundBlack60{background-color:rgba(255,255,255,0.6);}
.backgroundBlack70{background-color:rgba(255,255,255,0.7);}
.backgroundBlack80{background-color:rgba(255,255,255,0.8);}
.backgroundBlack90{background-color:rgba(255,255,255,0.9);}





/* - - - - - SCREEN SAVER ANIMATIONS - - - - - - - */

/*
@-webkit-keyframes sizeBounce {
	0% {-webkit-transform: scale(1);}
	2% {-webkit-transform: scale(.7);}
	4% {-webkit-transform: scale(1);}
}

#timeHolder{-webkit-animation: sizeBounce 10s ease-out 0s infinite;}
#dayWrap{-webkit-animation: sizeBounce 10s ease-out .1s infinite;}
#weatherWrap{-webkit-animation: sizeBounce 10s ease-out .2s infinite;}
#tempWrap{-webkit-animation: sizeBounce 10s ease-out .3s infinite;}
#calendarRootLabel1{-webkit-animation: sizeBounce 10s ease-out .4s infinite;}
#todayBlock-cal1{-webkit-animation: sizeBounce 10s ease-out .5s infinite;}
#tomoBlock-cal1{-webkit-animation: sizeBounce 10s ease-out .6s infinite;}
#thenextBlock-cal1{-webkit-animation: sizeBounce 10s ease-out .7s infinite;}
*/
